.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.search-form .form-group {
    width: 100%;
    max-width: 600px;
}

.form-actions {
    text-align: center;
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
    max-width: 600px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group select, .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group select:focus, .form-group input:focus {
    border-color: #0074d9;
    outline: none;
}

.admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    min-height: 100vh;
  }
  
  .admin-title {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }

.faculty-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    height: 100px;
    box-sizing: border-box;
}

.faculty-form {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    width: 100%;
    margin-top: 50px;
}

.faculty-title {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}